body {
    background-color:#d4d4d4;
    margin:0px;
}

header {
    color: yellow
}


textarea {
    border: 2px solid black;
    border-radius: 1rem;
    width: 50%;
    height: 10vh;
    margin: auto;
    display: flow-root;
    padding: 1rem;
}

button {
    margin: auto;
    display: block;
    font-size:medium;
    font-weight:initial;
    border-width: 0.1rem;

}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
    text-align: center;
    padding: 1rem;
    background-color:yellow
    
}

#output {
    border: 2px solid black;
    border-radius: 1rem;
    width: 50%;
    height: 10vh;
    margin: auto;
    display: flow-root;
    padding: 1rem;
}

img {
    height: 15vh;
    width: 25%;
    float: left;
     
}
